body{
    font-family: 'Poppins', serif;
    background-color: rgb(146, 203, 146);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
}

.nav_links{
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 350px;
  font-size: 50px;  
}

.skip a{
  background: white;
  height: 30px;
  left: 0%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip a:focus{
  transform: translateY(0%);
}

h1{
  color: black;
  font-size: 50px;
}

h2{
  font-size: 25px;
}
.nav_item_curr{  
  font-size: larger;  
  border: 3px solid red;
}

.nav_links li a:visited {
    color: black;
}

a.skip{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
}

@media screen and (min-width: 700px){
  .gallery{
    grid-template-columns: 1fr;
  }
}

h2:hover{
  font-weight: 300;
}
@media screen and (min-width: 900px){
  .gallery{
    grid-template-columns: 1fr 1fr;
  }

  img:hover{  
    grid-column:1/span 2;
  }
}

@media screen and (min-width: 1200px){
  .gallery{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  img:hover{  
    grid-column:1/span 3;
  }
}

.gallery{
  margin: auto;
  margin-top:50px;
  width: 75%;
  display: grid;
  column-gap: 50px;
  row-gap: 50px;  
  overflow: visible;
}

.gallery img{
  width: 100%;
  height: 100%;
  border: 5px solid black;
}




